<div class="auth-conteiner">
    <form action="/register" method="post">
        <h2>Registre Sua Conta</h2>
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Digite seu nome..."required>
        </div>
        <div class="form-control">
            <label for="email">email:</label>
            <input type="text" name="email" placeholder="Digite seu email..." required>
        </div>
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="text" name="password" placeholder="Digite sua senha..." required>
        </div>
    <input type="submit" value="Registrar">
</form>
</div>