<div class="add-form-conteiner">
    <a href="/books/add">Voltar</a>
    <h1>Adicione um livro ao Carrinho</h1>
    <form action="/books/add" method="post">
        <div class="form-control">
            <label for="title">Livro:</label>
            <input type="text", name="title" placeholder="Digite um Titulo">
        </div>
        <div class="form-control">
            <label for="autor">Autor:</label>
            <input type="text", name="autor" placeholder="Digite o nome do autor">
        </div>
        <div class="form-control">
            <label for="year">Ano:</label>
            <input type="text", name="year" placeholder="Digite o ano de lançamento">
        </div>
        <input type="submit" value="Adicionar Livro">
    </form>
</div>