<div class="Userbooks">
    <div class="title-conteiner">
        {{#if session.admin}}
            <h2>Livros que você adicionou no Catalogo</h2>
            <a href="/books/add" class="btn">Adicionar</a>
        {{/if}}
    </div>
    <ul>
        {{#each books}}
            <li>
                <img src="{{this.img}}" alt="imagen de {{this.title}}" class="book-img">
                <span class="label">{{this.title}}</span>
                <a href="/books/edit/{{this.id}}" class="btn">Editar</a>
            </li>
        {{/each}}
        {{#if empityBooks}}
            <p>você ainda não tem Livros <a href="/books/add">add Aqui</a></p>
        {{/if}}
    </ul>
</div>
