<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Books</a></li>
            {{#if session.userid}}
                <li><a href="/books/userbooks">Meus Livros</a></li>
                <li><a href="/logout">Sair</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>
    <div class="conteiner">
        {{#if messages.message}}
            <div class="message-conteiner">
                <p>{{messages.message}}</p>
            </div>
        {{/if}}
        {{{body}}}
    </div>
</body>
</html>